.chatWindow {
    position: relative;
    height: 100%;
    .chatsContainer {
        margin: 10px;
        height: calc(100% - 75px);
        overflow: auto;
        .chatList {
            list-style-type: none;
            padding: 0;
            margin: 0;
            .chat {
                margin-bottom: 20px;
                padding: 15px;
                background: #fff;
                border-radius: 4px;
                &>div {
                    margin-bottom: 10px;
                }
                p {
                    margin: 0;
                }
                .name {
                    color: #635956;
                    font-size: 14px;
                    padding-bottom: 5px;
                    text-transform: capitalize;
                }
                .timeStamp {
                    display: inline-block;
                    font-size: 12px;
                    margin-left: 15px;
                }
            }
        }
    }
    .inputContainer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 75px;
        background: #fff;
        padding: 15px;
        box-sizing: border-box;
        input {
            display: inline-block;
            width: 100%;
            height: 40px;
            padding: 10px;
            box-sizing: border-box;
            border: 0;
            font-size: 14px;
            &:focus {
                outline: none;
            }
        }
    }
}