.loader-body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    .loader {
        background: url('../../assets/loader.svg');
        width: 75px;
        height: 75px;
        background-size: 100%;
        position: absolute;
        top: calc(50% - 37.5px);
        left: calc(50% - 37.5px);
    }
}